doctype html
html(lang="ko")
    head
        title #{pageTitle} | Wetube
        link(rel"stylesheet" href="https://unpkg.com/mvp.css")
    body
        headers 
            nav  
                ul 
                    li Login

            main 
                block content
        block content
    include partials/footer.pugs

    //- dkdk÷